<!---Inspired by Rasmus Lystrøm https://github.com/ondfisk/BDSA2021 -->
@page "/createidea"

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using YoghurtBank.Shared
@attribute [Authorize]
@inject HttpClient Http
@inject NavigationManager NavMan
@inject AuthenticationStateProvider auth

@if (user == null)
{
    <p><em>You have to be registrated to get access to this site</em></p>
        <div class="card-body">
            <button type="button" class="btn btn-primary" onclick= "location.href ='https://localhost:7095/registerUser'">Go to registration</button> 
        </div>
}
else
{

<PageTitle>Create Idea</PageTitle>
<h1>Register your idea for a project!</h1>
<p>You register a new idea by filling out the input form below</p>


@if(isStudent)
{
    <h1>Students cannot post ideas</h1>
      <div class="form-group">
        <button type="button" class="btn btn-primary" @onclick="Nav">Browse ideas</button>
    </div>
}
else 
{
    <EditForm Model="@idea" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label for="Title">Title</label>
        <InputText id="Title" @bind-Value="idea.Title" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Subject">Subject</label>
        <InputText id="Subject" @bind-Value="idea.Subject" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Description">Description</label>
        <InputTextArea id="Description" @bind-Value="idea.Description" class="form-control" />
    </div>
    <div class="form-group">
        <label for="AmountOfCollaborators">Amount of collaborators</label>
        <InputNumber id="Description" @bind-Value="idea.AmountOfCollaborators" class="form-control" />
    </div>
    @if(DateError)
    {
        <div class="form-group">
        <p style="color: red;">@DateErrorMessage</p>
        </div>
    }
    <div class="form-group">
        <label for="StartDate">Start date</label>
        <InputDate id="StartDate" @bind-Value="idea.StartDate" class="form-control" />
    </div>
    <div class="form-group">
        <label for="EndDate">End date</label>
        <InputDate id="EndDate" @bind-Value="end" class="form-control" />
    </div>
    <div class="form-group">
        <div>Type</div>
        <InputRadioGroup @bind-Value="idea.Type">
            <InputRadio id="Project" Value="@IdeaType.Project" class="form-check-input" /><label class="form-check-label" for="Project">@IdeaType.Project</label>
            <InputRadio id="Bachelor" Value="@IdeaType.Bachelor" class="form-check-input" /><label class="form-check-label" for="Bachelor">@IdeaType.Bachelor</label>
            <InputRadio id="Masters" Value="@IdeaType.Masters" class="form-check-input" /><label class="form-check-label" for="Masters">@IdeaType.Masters</label>
            <InputRadio id="PhD" Value="@IdeaType.PhD" class="form-check-input" /><label class="form-check-label" for="PhD">@IdeaType.PhD</label>
        </InputRadioGroup>
    </div>
    <div class="form-group">
        <br />
        <button type="submit" class="btn btn-success" >Create</button>
        <button type="reset" class="btn btn-secondary">Reset</button>
    </div>
    </EditForm>
}
}

@code {
    private UserDetailsDTO? user;
    private AuthenticationState authState;
    private bool DateError = false;
    private IdeaCreateDTO idea = new IdeaCreateDTO{};
    private DateTime end  {get; set;} = DateTime.UtcNow;
    public string DateErrorMessage {get; set;}
    private bool isStudent = true;

    protected override async Task OnInitializedAsync()
    {
        authState = await auth.GetAuthenticationStateAsync();
        var mail = authState.User.Claims.Where(c => c.Type.Equals("preferred_username")).Select(c => c.Value).FirstOrDefault();
        user = await Http.GetFromJsonAsync<UserDetailsDTO>($"https://localhost:7095/api/users/mail/{mail}");
        if(user.UserType == "Supervisor")
        {
            isStudent = false;
            idea.CreatorId = user.Id;
            idea.StartDate = DateTime.UtcNow;
        }
    }

    private async Task HandleValidSubmit()
    {
        //This is maybe a bit flawed? -> worked fine before adding the == part, look into it
        if(end < DateTime.UtcNow.Date || idea.StartDate < DateTime.UtcNow.Date)
        { 
            DateError = true;
            DateErrorMessage = "Please make sure that all dates are in the future";
        }
        if(end.Date == idea.StartDate.Date)
        {
            DateError = true;
            DateErrorMessage = "Please make sure that start and end date aren't the same";
        }
        else 
        {
            DateError = false;
            //chop off timestamps
            end = end.Date.ToUniversalTime(); 
            idea.StartDate = idea.StartDate.Date.ToUniversalTime(); 
            //calculate time to complete 
            idea.TimeToComplete = (end-idea.StartDate); 
            idea.Open = true; //bare sæt den som åben pr. default, eller? 
            var result = await Http.PostAsJsonAsync("https://localhost:7095/api/idea", idea);
        }
    }
    
    private void Nav()
    {
        NavMan.NavigateTo($"https://localhost:7095/ideas");
    }
}