@page "/myCollabs"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using YoghurtBank.Shared
@attribute [Authorize]
@inject HttpClient Http
@inject NavigationManager NavMan
@inject AuthenticationStateProvider auth


<PageTitle>View My CollaborationRequest</PageTitle>
<h1>Your collaboration request</h1>

<div style="display: flex">
@if(requests == null || requests.Length == 0)
{
    <h2>No requests!</h2>
}
else 
{
    foreach(var request in requests)
    {
     <div class="card" style="width: 18rem;">
                <div class="card-header">
                    <h3>Request</h3>
                </div>
                <div class="card-body" style="background-color: @Background;">
                    <h5 class="card-title">Requester: <br> @request.StudentId</h5>
                    <p class="card-text">Requested: <br> @request.SupervisorId</p>
                    <p class="card-text">Application: <br> @request.Application</p>
                    <p class="card-text">Status: <br> @request.Status</p>
                    
                </div>
@if(Student) {
                <div class="card-body" id = "btn-panelStud">
                </div>
} else if(Student && request.Status == CollaborationRequestStatus.ApprovedBySupervisor) {
                <div class="card-body" id = "btn-panelStud">
                    <button type="button" id="Approvebtn" class="btn btn-primary" style="background-color: green" @onclick="@(() => ApproveReqSTUD(request))">Approve</button> 
                    <button type="button" class="btn btn-secondary" style="background-color: red" @onclick="(() => DeclineReq(request))">Decline</button>  
                </div>              
} else {

                <div class="card-body" id = "btn-panelSup">
                    <button type="button" id="Approvebtn" class="btn btn-primary" style="background-color: green" @onclick="(() => ApproveReqSUP(request))">Approve</button> 
                    <button type="button" class="btn btn-secondary" style="background-color: red" @onclick="(() => DeclineReq(request))">Decline</button>  
                </div>
}

     </div>
    }
}
</div>


@code {

    private AuthenticationState authState;

    private CollaborationRequestDetailsDTO[]? requests;

    private string Background {get; set;} = "yellow";

    private bool Student {get; set; } = false;


    protected override async Task OnInitializedAsync()
    {
        authState = await auth.GetAuthenticationStateAsync();

        var name = "";
        var mail = "";
        var claims = auth.GetAuthenticationStateAsync().Result.User.Claims; 
        foreach(var claim in claims)
        {
            //navn
            //email
            if(claim.Type.Equals("name")) name = claim.Value;
            if(claim.Type.Equals("preferred_username")) mail = claim.Value;
        }

        Console.WriteLine(name);
        Console.WriteLine(mail);

        requests = await FindOrCreate("Roboto@university.com");


        //FindOrCreate(mail);
    } 

    private async Task ApproveReqSTUD(CollaborationRequestDetailsDTO request)
    {
       Background = "green";

       var updated = new CollaborationRequestUpdateDTO {
            Id = request.Id,
            Status = CollaborationRequestStatus.ApprovedByStudent
        };

        await Http.PutAsJsonAsync<CollaborationRequestUpdateDTO>($"https://localhost:7095/api/collaborationRequest/{request.Id}", updated);
       
    }

    private async Task ApproveReqSUP(CollaborationRequestDetailsDTO request)
    {
        var updated = new CollaborationRequestUpdateDTO {
            Id = request.Id,
            Status = CollaborationRequestStatus.ApprovedBySupervisor
        };

        await Http.PutAsJsonAsync<CollaborationRequestUpdateDTO>($"https://localhost:7095/api/collaborationRequest/{request.Id}", updated);
    }

    private async Task DeclineReq(CollaborationRequestDetailsDTO request) 
    {
        Background = "red";

        var updated = new CollaborationRequestUpdateDTO {
            Id = request.Id,
            Status = CollaborationRequestStatus.Declined
        };

        await Http.PutAsJsonAsync<CollaborationRequestUpdateDTO>($"https://localhost:7095/api/collaborationRequest/{request.Id}", updated);
    }
    
    private async Task<CollaborationRequestDetailsDTO[]> FindOrCreate(string email)
    {
        var user = await Http.GetFromJsonAsync<UserDetailsDTO>($"https://localhost:7095/api/users/mail/{email}");
        if(user != null)
        {
           @*  Console.WriteLine(user.UserName);
            Console.WriteLine(user.Email);
            Console.WriteLine(user.Id); *@

            Student = user.UserType.Equals("Student"); 
           

            return await Http.GetFromJsonAsync<CollaborationRequestDetailsDTO[]>($"https://localhost:7095/api/collaborationRequest/id/{user.Id}");
        }
        else
        {
            return null;
            //Redirect to register user site.
        }

    }

}