@page "/showprofile"

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager NavMan
@inject AuthenticationStateProvider auth
@inject HttpClient Http


<!-- Grid courtesy of https://getbootstrap.com/docs/4.0/layout/grid/ -->


@if (user == null)
{
    <p><em>You have to be registrated to get access to this site</em></p>
        <div class="card-body">
            <button type="button" class="btn btn-primary" onclick= "location.href ='https://localhost:7095/registerUser'">Go to registration</button> 
        </div>
}
else
{
    if(user.UserType == "Supervisor")
    {
        <div class="container">
        <h1>Hello @user.UserName, welcome to your profile!</h1>
        <h4>My email: @user.Email</h4>
        <br>
        </div>
        <div class="container">
        <div class="row">
        <div class="col-sm">

        <h3>My ideas</h3>
        @foreach (var idea in ideas)
        {
        <div class="card-body">
            <h5 class="card-title"><br> @idea.Title</h5>
            <button type="button" class="btn btn-primary" @onclick="@(() => NavIdea(idea.Id))">Show details</button> 
        </div>
        }
    </div>
    <div class="col-sm">
        <h3>My collaborationrequests</h3>
        @foreach (var request in requests)
        {

            <div class="card-body">
               <h5 class="card-title">Title <br> @request.Application</h5>
               <button type="button" id="Approvebtn" class="btn btn-primary" style="background-color: green">Approve</button> 
               <button type="button" class="btn btn-secondary" style="background-color: red">Decline</button> 
            </div>
        }
    </div>
  </div>
</div>
    }
    else 
    {
        <div class="container">
        <div class="container">
        <h1>Hello @user.UserName, welcome to your profile!</h1>
        <h4>My email: @user.Email</h4>
        </div>
        <br>
        <div class="container">
        <div class="row">
        <div class="col-sm">
        <h3>My collaborationrequests</h3>
        @foreach (var request in requests)
        {

            <div class="card-body">
               <h5 class="card-title">Title <br> @request.Application</h5>
               <button type="button" id="Approvebtn" class="btn btn-primary" style="background-color: green">Approve</button> 
               <button type="button" class="btn btn-secondary" style="background-color: red">Decline</button> 
            </div>
        }
        </div>
        </div>
        </div>
        </div>

    }
}

@code {
    private UserDetailsDTO? user;
    private IdeaDetailsDTO[]? ideas;
    private CollaborationRequestDetailsDTO[]? requests; 
    private AuthenticationState authState;

    protected override async Task OnInitializedAsync()
    {
        authState = await auth.GetAuthenticationStateAsync();

        //find user
        var mail = authState.User.Claims.Where(c => c.Type.Equals("preferred_username")).Select(c => c.Value).FirstOrDefault();
        user = await Http.GetFromJsonAsync<UserDetailsDTO>($"https://localhost:7095/api/users/mail/{mail}");
        
        //find users requests
        requests = await Http.GetFromJsonAsync<CollaborationRequestDetailsDTO[]>($"https://localhost:7095/api/collaborationRequest/id/{user.Id}");

        //find users ideas if super
        if(user.UserType == "Supervisor")
        {
            ideas = await Http.GetFromJsonAsync<IdeaDetailsDTO[]>($"https://localhost:7095/api/idea/user/{user.Id}");
        }
    }

    private void NavIdea(int ideaid)
    {
        NavMan.NavigateTo($"https://localhost:7095/ideadetails/{ideaid}");
    }
}